<div class="jumbotron jumbotron-fluid mb-0 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        Education is not preparation for life; education is life itself.
                    </p>
                    <footer class="blockquote-footer">John Dewey</footer>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="blockquote">
                <p class="mb-0">
                    <small class="text-muted align-middle">&copy;2017 CampusGo, Inc.</small>
                </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>