<div class="navbar navbar-inverse navbar-toggleable-md bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="/media/navbar-brand.png" height="30" />
    </a>
    <div class="collapse navbar-collapse" id="navigation">
        {{navigation}}
        <span class="navbar-text text-hide">
            <small>
                <em>
                    <a href="/about/" class="text-white">Registered 501(c)(3) Non-Profit Organization</a>
                </em>
            </small>
        </span>
    </div>
</div>