{{!< default}}
<div class="jumbotron jumbotron-fluid bg-transparent pb-1">
    <div class="container text-center">
        <img src="media/hero-logo.png" class="img-fluid mb-3" alt="Responsive image">
        <h1 class="display-3 mt-3 mb-5 hidden-sm-down">
            One campus visit at a time!
        </h1>
        <h1 class="display-4 mt-1 mb-3 hidden-md-up">
            One campus visit at a time!
        </h1>
        <p class="h4">
            <strong>Mission:</strong>
            <span class="text-muted">
                <em>To help young people realize their college dreams through college access programming.</em>
            </span>
        </p>
        <div class="d-flex justify-content-around flex-wrap mt-4">
            <a href="http://facebook.com/campusgoer" target="_blank" class="btn btn-success m-1">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                Facebook
            </a>
            <a href="http://twitter.com/campusgoer" target="_blank" class="btn btn-success m-1">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                Twitter
            </a>
            <a href="http://instagram.com/campusgoer" target="_blank" class="btn btn-success m-1">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                Instagram
            </a>
        </div>
    </div>
</div>
<hr />
{{> "posts"}}
<hr />
<div class="card card-inverse card-primary mb-3 text-center">
    <div class="card-block">
        <p class="card-text">
            We are implementing new programs everyday to serve the need of area high-school students.
        </p>
        <a href="/about" class="btn btn-outline-secondary">Learn more about us</a>
    </div>
</div>