{{!< default}}
<div class="d-flex justify-content-end my-5 align-items-center hidden-md-down">
    <h1 class="display-2 mr-auto">Blog Posts</h1>
    </div>
<hr class="my-3" />
<article class="pt-3">
    {{> "posts"}}
</article>